/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #333;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #666;
}

/* Estilos para inputs */
input[type="text"] {
    width: 250px; /*input de cliente*/
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilos para botones */
button, select {
    padding: 6px 12px;
    background-color: #88b8ec;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2d437e;
}

/* Estilos para tablas */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #4c59af;
    color: white;
}

/* Estilos para estados de pedidos */
.success {
    background-color: #dff0d8;
    border-left: 6px solid #5cb85c;
}

.pending {
    background-color: #f9f9f9;
    border-left: 6px solid #5080a0;
}